{{ define "main" }}

<section class="section bg">
  <div class="container">
    <div class="row">
        <div class="form__wrap">

          <p>
            На ваш Email прийдет сообщение с новым паролем
          </p>

          <form action="#" class="form" method="POST">

            <div class="form-group">
              <label for="email">Введите ваш Email</label>
              <input type="text" placeholder="email@gmail.com" name="email" id="email" required>
            </div>
           
          </form>
        </div>
    </div>
  </div>
</section>


{{ end }}