{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="hero__wrap" style="background-image: url({{ `../images/hero2.jpg` | relURL }});">
	<!-- BEGIN section -->
	{{- partial "header.html" . -}}

	<!-- END section -->
</div>


<article class="page__main">
	<section class="container py-5">
		

			<div class="page__single">
				{{ .Content }}

				<div class="row my-5">
					{{ range ($.Site.GetPage "section" "cases").Pages }}
					{{- partial "_cases-card.html" . -}}
					{{ end }}
				</div>
			</div>

		
	</section>
</article>


{{ end }}