{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- project -->

<section>
  <div class="container-fluid px-0">
  <div class="row justify-content-center py-5">
    {{ range (.Site.GetPage "section" "cases").Pages }}

    <div class="col-lg-3">
      <a class="card hover-bg-secondary shadow py-4" href="{{ .Permalink }}">
        <div class="card-body text-center">
          <div class="card-header">
            <img class="card-ava" src="{{ .Params.ava | relURL }}" alt="{{ .Title }}">
            <h4 class="">{{ .Params.title  }}</h4>
            <p>{{ .Params.job }}</p>
          </div>
          <p>{{ .Content | truncate 50 }}</p>
        </div>
      </a>
    </div>
    
    {{ end }}
  </div>
  </div>
</section>
<!-- /project -->

{{ if .Site.Data.project.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ if .Site.Data.project.clientsLogo.enable }}
{{ partial "clients-logo.html" . }}
{{ end }}

{{ end }}