{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="hero__wrap" style="background-image: url({{ `../images/hero2.jpg` | relURL }});">

	<!-- BEGIN section -->
	<section class="hero hero--sm">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img class="img--1 my-5 mx-auto" src="{{ `../images/journal.png` | relURL }}" alt="{{ .Title }}">
				</div>
				<div class="col-lg-6">
					<h1 class="mb-5">
						Ежемесячный аналитический журнал ITG
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum diam
						eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum diam
						eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum diam
						eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum diam
						eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
					</p>

					<div class="d-flex align-items-center flex-wrap">
						<span class="text--price me-5 mb-3 mb-md-0">
							$3500
						</span>
						<a href="#" class="btn btn--lg btn--main">
							Оформить
						</a>
					</div>


				</div>
			</div>
		</div>
	</section>
	<!-- END section -->
</div>

<article class="page__main">
	<section class="">
		<div class="container py-5 mt-5">

			<div class="row align-items-center">
				<div class="col-lg-6">
					<img  class="img--1 my-5 mx-auto"  src="{{ `../images/journal2.jpg` | relURL }}" alt="{{ .Title }}">
				</div>
				<div class="col-lg-6">
					<ul class="list">
						<li>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</li>
						<li>
							Morbi id eros egestas, bibendum diam eget, tincidunt tortor.
						</li>
						<li>
							Bibendum diam eget, tincidunt tortor.
						</li>
						<li>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</li>
						<li>
							Morbi id eros egestas, bibendum diam eget, tincidunt tortor.
						</li>
					</ul>
				</div>
			</div>

		</div>
	</section>
	<section>
		<div class="container py-5 mb-5">
			<h3 class="text-center">
				Предпросмотр
			</h3>

			<div class="row mt-5 img__wrap">
				<div class="col-lg-3 col-md-6 my-3 my-md-0">
					<img class="mx-auto" src="{{`../images/journal3.jpg` | relURL}}" alt="{{ .Title }}">
				</div>
				<div class="col-lg-3 col-md-6 my-3 my-md-0">
					<img class="mx-auto" src="{{`../images/journal4.jpg` | relURL}}" alt="{{ .Title }}">
				</div>
				<div class="col-lg-3 col-md-6 my-3 my-md-0">
					<img class="mx-auto" src="{{`../images/journal5.jpg` | relURL}}" alt="{{ .Title }}">
				</div>
				<div class="col-lg-3 col-md-6 my-3 my-md-0">
					<img class="mx-auto" src="{{`../images/journal6.jpg` | relURL}}" alt="{{ .Title }}">
				</div>
			</div>
			<div class="text-center mt-5">
				<a href="#" class="btn btn--grad">Купить</a>
			</div>
		</div>
	</section>
</article>


{{ end }}