.btn
    padding: 20px 25px
    margin: 15px auto
    +ft(15, 15, 500)
    text-align: center
    justify-content: center
    border-radius: 10px

    &--bg
        background: $grad
        color: $white
        border: none

        &:hover, &:focus, &:active
            background: $grad2
            color: $white
       
    &--bd
        color: $white
        border: 1px solid $pink1
        &:hover, &:focus, &:active
            background: $grad2
            border-color: transparent
            color: $white

    &--lg
        max-width: 406px
        width: 100%
        +ft(28, 28, 400)

    &--top
        background-color: $blue
        display: flex
        width: 40px
        height: 40px
        border-radius: 50%
        position: fixed
        right: 10px
        bottom: 10px

.soc
    .icon
        margin: 20px