.hero
    //+pd((t, 175px), (b, 200px))
    min-height: 90vh
    +pd((t, 30px), (b, 30px))
    +flex(flex, center, center, wrap)
    flex-direction: column
    background-color: transparent
    color: $white
    &--sm
        +pd((t, 100px), (b, 150px))
    &__wrap
        background-size: cover
        background-repeat: no-repeat
        background-color: $black
        color: $white
       
   

.nav
    &-item
        padding: 0 10px
    &-link
        color: inherit
        &:hover
            color: inherit
            

.dropdown-menu
    min-width: auto
    background-color: $blue2
    color: $white
    button
        background-color: transparent
        border: none
        color: inherit
.dropdown-toggle
    border: none
    &:hover, &:focus
        box-shadow: none


.navbar
    +pd((t, 15px), (b, 15px))
    color: $white
    &__btn-group
        +flex(flex, center, center, nowrap)
    &-toggler
        padding: 0
        color: inherit
        &:hover, &:focus
            box-shadow: none
        &-close
            display: none

.footer
    background: $black url('../images/footer.jpg') no-repeat 50%/cover
    color: $white
    padding: 10px 15px