.footer
    +theme(black)
body
    +theme(dark)

.img
    display: block
    max-width: 100%
    border-radius: $brs
    margin-left: auto
    margin-right: auto
    &--bd
        box-shadow: $bxsd2

iframe
    max-width: 100%
    width: 100%
    object-fit: contain
    box-shadow: $bxsd2
    border-radius: $brs

.items
    padding: 30px 15px
    text-align: center
    border-radius: $brs2
    // border: 1px solid $main
    box-shadow: $bxsd2
    &__desc
        +ft(18, 20*1.4, 400)
        margin-top: 17px

.card
    padding: 25px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: stretch
    text-align: center
    height: 100%
    background-color: $dark
    box-shadow: $bxsd
    border-radius: $brs2
    color: $main
    &__text
        min-height: 50px
        +ft(18, 25, 300)
    .btn
        display: flex

    &__badge
        background: $grad
        border-radius: 0 0 $brs2 $brs2
        color: $black
        margin: -25px auto 25px
        padding: 10px
        min-width: 132px

    &:hover
        box-shadow: $bxsd2


.hero
    color: $white
    +maw($xs)
        text-align: center

.section
    &_1
        +maw($xs)
            text-align: center

.bg 
    background-repeat: no-repeat
    background-position: 50%
    background-size: cover

.accordion
    &-item
        background: transparent
    &-header
        background: transparent
    &-body
        +flex(flex, center, space-between, wrap)
        //+ft(28, 38, 300)
        +ft(16, 16*1.4, 300)
        p
            margin-bottom: 0
            //+ft(28, 38, 300)
            +ft(16, 16*1.4, 300)
    &-button
        +flex(flex, center, space-between, nowrap)
        background: transparent
        color: #83D3FF
        border: 1px solid #83D3FF
        border-width: 1px 0 
        margin-top: -2px
        //+ft(28, 38, 300)
        +ft(18, 30, 300)
        .icon-open, .icon-close
            min-width: 20px
        &[aria-expanded="false"]
            .icon-open
                display: block
            .icon-close
                display: none
        &[aria-expanded="true"]
            .icon-open
                display: none
            .icon-close
                display: true
        &:not(.collapsed)
            background-color: transparent
            color: #83D3FF
        &::after
            display: none
        &:focus
            box-shadow: none
