h1
    color: iherit
    +ft(58, 58*1.4, 700)
    +maw($xs)
        +ft(32, 32*1.4, 700)
h2 
    +ft(39, 39, 700)
    margin-bottom: 30px
    +maw($xs)
        +ft(26, 26*1.4, 700)


p
    +ft(21, 21*1.4, 400)
    +maw($xs)
        +ft(16, 16*1.4, 400)
.text
    &__sub
        +ft(18, 18*1.4, 400)
        margin-bottom: 30px
    &__price
        +ft(38, 38, 600)
        colro: $main
        &-old
            +ft(32, 32, 400)
            margin-top: 15px
            margin-bottom: 15px
    &__benefits
        +ft(14, 14, 400)
        margin-bottom: 15px

.list
    +maw($xs)
        text-align: left
        
    padding-left: 100%
    animation: scroll 10s infinite linear
    &__wrap
        white-space: nowrap
        overflow: hidden
    li
        display: inline-flex
        align-items: center
        margin: 5px 10px

        &::before
            content: ''
            display: inline-flex
            align-items: center
            +sz(10px, 10px)
            border-radius: 10px
            background: $main
            margin-right: 10px
    
@keyframes scroll 
    0% 
        transform: translate(0, 0)
    100% 
        transform: translate(-100%, 0)
    
    