<!DOCTYPE html>
{{- partial "head.html" . -}}

<body lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" class="page__body">

<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '395240172578352');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=395240172578352&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
  

  <main class="page__wrap">

    {{- partial "preloader.html" . -}}
    <div class="header-span"></div>

    

    {{- block "main" . }}{{- end }}

  </main>
  <!-- {{- partial "_btn-top.html" . -}} -->

  {{- partial "footer.html" . -}}

  {{ range .Site.Params.plugins.js }}
  <script src="{{ .link | relURL }}"></script>
  {{ end }}

  {{ $script := resources.Get "js/script.js" | minify }}
  <script src="{{ $script.Permalink | relURL }}?v={{ now.Format " 01-02-2006-14-52-26"}}"></script>

  {{- partial "_svg.html" . -}}
  
  <script>

    // Pretty simple huh?
    var scene = document.getElementById('scene');
    var parallax = new Parallax(scene);
  
  </script>


 
</body>
</html>