<!DOCTYPE html>
{{- partial "head.html" . -}}

<body lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" class="page__body">


  <main class="page__wrapper">


    {{- partial "preloader.html" . -}}
    <div class="header-span"></div>


    {{- block "main" . }}{{- end }}

  </main>


  {{- partial "_btn-top.html" . -}}
  {{- partial "footer.html" . -}}



  {{ range .Site.Params.plugins.js }}
  <script src="{{ .link | relURL }}"></script>
  {{ end }}

  {{ $script := resources.Get "js/script.js" | minify }}
  <script src="{{ $script.Permalink | relURL }}?v={{ now.Format " 01-02-2006-14-52-26"}}"></script>

  {{- partial "_svg.html" . -}}



  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        

  <script>
   
    let navbar_toggle = document.querySelector('.navbar-toggler');
    let navbar_toggle_open = document.querySelector('.navbar-toggler-open');
    let navbar_toggle_close = document.querySelector('.navbar-toggler-close');

    navbar_toggle.addEventListener('click', function () {
      navbar_toggle_close.classList.toggle('d-block')
      navbar_toggle_open.classList.toggle('d-none')
    })

  </script>

<script>
  $('.slider').slick({
  infinite: true,
  slidesToShow: 5,
  slidesToScroll: 1,
  prevArrow: $('.prev'),
  nextArrow: $('.next'),
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        slidesToShow: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        slidesToShow: 1
      }
    }
  ]
});


</script>


</body>

</html>