{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="hero__wrap" style="background-image: url({{ `../images/hero2.jpg` | relURL }});">
	<!-- BEGIN section -->
	{{- partial "header.html" . -}}
	<!-- END section -->
	<!-- BEGIN section -->
	<section class="hero hero--sm">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img class="img--1" src="{{ `../images/indicatory.png` | relURL }}" alt="{{ .Title }}">
				</div>
				<div class="col-lg-6">
					<h1 class="mb-5">
						Индикаторы </h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum diam
						eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.

					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum diam
						eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum diam
						eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
					</p>

					<div class="d-flex align-items-center justify-content-center flex-wrap mt-5">
						<span class="text--price me-lg-5 mb-3 mb-lg-0">
							$300
						</span>
						<a href="#" class="btn btn--lg btn--main">
							Оформить
						</a>
					</div>


				</div>
			</div>
		</div>
	</section>
	<!-- END section -->
</div>


<article class="page-main">
	<section class="">
		<div class="container py-5 my-5">

			<div class="row align-items-center">
				<div class="col-lg-6 mb-5 mb-lg-0">
					<img class="img--1" src="{{ `../images/indicatory1.jpg` | relURL }}" alt="{{ .Title }}">
				</div>
				<div class="col-lg-6">
					<ul class="list">
						<li>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</li>
						<li>
							Morbi id eros egestas, bibendum diam eget, tincidunt tortor.
						</li>
						<li>
							Bibendum diam eget, tincidunt tortor.
						</li>
						<li>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</li>
						<li>
							Morbi id eros egestas, bibendum diam eget, tincidunt tortor.
						</li>
					</ul>
				</div>
			</div>

		</div>
	</section>
	<section class="my-5 pb-5">
		<div class="container">
			<h3 class="text-center mb-5">
				Выбери тариф
			</h3>

			<div class="row align-items-stretch">
				<div class="col-lg-4 my-4 my-lg-0">
					<div class="block">
						<div class="block__header">
							30 дней
						</div>
						<div class="block__title">
							Indicators
						</div>
						<div class="block__desc">
							$ 50
						</div>
						<div class="block__footer">
							<a href="#" class="btn btn--dark mb-3">Попробовать бесплатно 14 дней</a>
							<a href="#" class="btn btn--block">
								Оформить
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4  my-4 my-lg-0">
					<div class="block">
						<div class="block__header">
							90 дней
						</div>
						<div class="block__title">
							Indicators
						</div>
						<div class="block__desc">
							$ 300
						</div>
						<div class="block__footer">
							<a href="#" class="btn btn--block">
								Оформить
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4  my-4 my-lg-0">
					<div class="block">
						<div class="block__header">
							Full Time
						</div>
						<div class="block__title">
							Indicators
						</div>
						<div class="block__desc">
							$999
						</div>
						<div class="block__footer">
							<a href="#" class="btn btn--block">
								Оформить
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container mb-5 pb-5">
			<h3 class="text-center mb-5 pb-3">
				Предпросмотр
			</h3>

			<div class="row align-items-stretch mb-5">
				<div class="col-lg-6 chart">
					<img class="chart__img" src="{{`../images/chart1.jpg` | relURL }}" alt="">
					<h5 class="chart__title">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</h5>
					<div class="chart__content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum
							diam eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<p>
							Morbi id eros egestas, bibendum diam eget, tincidunt tortor. Bibendum diam eget, tincidunt
							tortor.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum
							diam eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
						</p>
					</div>
				</div>
				<div class="col-lg-6 chart">
					<img class="chart__img" src="{{`../images/chart2.jpg` | relURL }}" alt="">
					<h5 class="chart__title">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</h5>
					<div class="chart__content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum
							diam eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<p>
							Morbi id eros egestas, bibendum diam eget, tincidunt tortor. Bibendum diam eget, tincidunt
							tortor.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum
							diam eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
						</p>
					</div>
				</div>
				<div class="col-lg-6 chart">
					<img class="chart__img" src="{{`../images/chart3.jpg` | relURL }}" alt="">
					<h5 class="chart__title">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</h5>
					<div class="chart__content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum
							diam eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<p>
							Morbi id eros egestas, bibendum diam eget, tincidunt tortor. Bibendum diam eget, tincidunt
							tortor.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum
							diam eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
						</p>
					</div>
				</div>
				<div class="col-lg-6 chart">
					<img class="chart__img" src="{{`../images/chart4.jpg` | relURL }}" alt="">
					<h5 class="chart__title">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</h5>
					<div class="chart__content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum
							diam eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<p>
							Morbi id eros egestas, bibendum diam eget, tincidunt tortor. Bibendum diam eget, tincidunt
							tortor.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros egestas, bibendum
							diam eget, tincidunt tortor. Bibendum diam eget, tincidunt tortor.
						</p>
					</div>
				</div>
			</div>

			<div class="text-center mt-5">
				<a href="#" class="btn btn--grad">Купить</a>
			</div>
		</div>
	</section>
</article>


{{ end }}