{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.hero }}
{{ with $data.homepage.hero }}

  <section class="section hero">
    <div class="container my-5 py-3">
      <div class="row align-items-center">
        <div class="col-lg-6">

          <h1 class="mb-5">{{ .title }}</h1>

          <a href="{{ .btn.link }}" class="btn btn--lg btn--bg">{{ .btn.lable }}</a>

        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <img class="img" src="{{ .img | relURL }}" alt="{{ .title }}">
        </div>
      </div>
    </div>
  </section>

{{ end }}
{{ end }}