{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_4.enable }}
{{ with $data.homepage.section_4 }}


<section class="section section_4 pt-lg-5">
    <div class="container">


        <h2 class="text-center">
            {{ .title }}
        </h2>

        <div class="row mt-5">
            <div class="products">
            
            {{ range ($.Site.GetPage "section" "products").Pages }}
            {{- partial "_product-card.html" . -}}
            {{ end }}

        </div>
        </div>

    </div>
</section>

{{ end }}
{{ end }}