<!-- {{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_9 }}
{{ with $data.homepage.section_9 }}


<section class="section section_9 my-5 pt-5">
    <div class="container">
      <h2 class="text-center">
        {{ .title }} test
      </h2>

      <div class="row justify-content-center pt-5 mt-4">
        {{ range .items }}
        <div class="my-4 partners">
          <img src="{{ .img | relURL }}" alt="{{ .title }}">
        </div>
        {{ end }}
      </div>
    </div>
</section>

{{ end }}
{{ end }} -->