{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_9 }}
{{ with $data.homepage.section_9 }}

<section class="section section_9 my-5" style="background-color: #31307c; background-image: url({{`images/main_banner.gif`}}); background-size: 50%; background-position: 100% 50%">
  <div class="py-5">
    <div class="row py-5 mx-auto">
      <div class="col-lg-6 text-center">
        <div class="text">
          <img src="{{ .img | relURL }}" alt="{{ .title }}">
          <div class="my-4">
            {{.text }}
          </div>
          <div>
            <a href="{{ .btn.link }}" class="btn btn--text">{{ .btn.label }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
  </div>
</section>

{{ end }}
{{ end }}