{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_1 }}
{{ with $data.homepage.section_1 }}

<section class="section section_1" id="how-work">
    <div class="container my-5 pt-md-5">
       
            <h2 class="text-center">
                {{ .title }}
            </h2>

            <div class="row align-items-center justify-content-between my-5">
                <div class="col-lg-4">
                    {{ range .text }}
                       <p>{{ . }}</p>
                    {{ end }}
                </div>
                <div class="col-lg-8">
                    <img class="img" src="{{ .img | relURL }}" alt="{{ .title }}">
                </div>
            </div>
            <div class="text-center">
                <h4>{{ .desc }}</h4>

                <div class="list__wrap  mt-3">
                    <ul class="list">
                        {{ range .indicators }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
               
            </div>

       
    </div>
</section>

{{ end }}
{{ end }}