{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_10 }}
{{ with $data.homepage.section_10 }}


<section class="section section_10 my-5 pt-5">
    <div class="container">
      <h2 class="text-center">
        {{ .title }}
      </h2>

      <div class="row justify-content-center pt-5 mt-4 mx-auto">
        {{ range .items }}
        <div class="my-4 partners">
          <picture>
            <source srcset="{{ .img_webp | relURL }}">
            <img src="{{ .img | relURL }}" alt="{{ .title }}">
        </picture>
        </div>
        {{ end }}
      </div>
    </div>
</section>

{{ end }}
{{ end }}