{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_5.enable }}
{{ with $data.homepage.section_5 }}


<section class="section section_5 py-5">
    <div class="container">
        <h2 class="text-center">
            {{ .title | markdownify }}
        </h2>

        <div class="row pt-5">
            {{ range first 3 ($.Site.GetPage "section" "cases").Pages }}
            {{- partial "_cases-card.html" . -}}
            {{ end }}
        </div>
    </div>
</section>

{{ end }}
{{ end }}