{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_1 }}
{{ with $data.homepage.section_1 }}


<section class="section section_1 my-5 py-lg-5" id="about">
    <div class="container">

        <h2 class="text-center">
            {{ .title | markdownify }}
        </h2>

        <div class="row px-0 mt-4 mt-lg-5 pt-lg-4">
            <div class="col-lg-6">
                <p class="text_sub">
                    {{ .title_sub_l | markdownify }}
                </p>
            </div>
            <div class="col-lg-6">
                <p class="text_sub">
                    {{ .title_sub_r | markdownify }}
                </p>
            </div>
        </div>


        <div class="row mt-5 px-0">
            {{ range .cards }}
            <div class="col-lg-3 py-3 py-lg-0">
                <figure class="card">
                    <figcaption>
                        <h3 class="card__title">
                            {{ .title | markdownify }}
                        </h3>
                        <p class="card__desc">
                            {{ .desc | markdownify }}
                        </p>
                    </figcaption>
                </figure>
            </div>
            {{ end }}
        </div>


    </div>



    </div>
</section>

{{ end }}
{{ end }}