<!-- Footer -->
<!--Main Footer-->
<footer class="footer py-md-5" id="contacts">
    
    <div class="container py-md-5">
        <div class="text-center">
                
                <nav class="soc mb-4">
                    {{ range .Site.Params.soc }}
                    <a href="{{.link}}" target="_blank" rel="noopener noreferrer" title="{{ .title }}">
                        <svg class="icon me-4" width="45" height="45">
                        <use xlink:href="#{{.icon}}"></use>
                      </svg>
                    </a>
                    {{ end }}
                </nav>
                <p>{{ .Site.Params.copyright }}</p>
           
        </div>
    </div>
</footer>
<!--Main Footer-->

