<!-- BEGIN header -->

<header class="header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <nav class="navbar navbar-expand-lg w-100">
       
          {{ .Scratch.Set "img" .Site.Params.logo }} 
          {{ .Scratch.Set "logo_w" 71 }}
          {{ .Scratch.Set "logo_h" 40 }}
          {{- partial "_logo.html" . -}}

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
          <svg class="icon icon-menu" width="20" height="20">
            <use xlink:href="#menu"></use>
          </svg>
          <svg class="icon icon-close d-none" width="20" height="20">
            <use xlink:href="#close"></use>
          </svg>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          </div>

         <div class="header__btns">
         <span class="me-lg-5 mx-auto">Добро пожаловать, {user name}
        </span>
        <a href="#" class="btn btn--white">Выйти</a>
        </div>
        
         
      </nav>
    </div>
  </div>
</header>
<!-- END header -->


<script>
  let close = document.querySelector('.icon-close');
  let menu = document.querySelector('.icon-menu');

  menu.addEventListener('click', function(){
    this.classList.toggle('d-none');
    close.classList.remove('d-none');
  })
  close.addEventListener('click', function(){
    this.classList.toggle('d-none');
    menu.classList.remove('d-none');
  })

 
</script>

{{ if ne .IsHome true }} 
{{ end }}
