<nav class="navbar navbar-expand-lg">
	<div class="container">

		{{ .Scratch.Set "img" .Site.Params.logo }}
		{{ .Scratch.Set "logo_w" 71 }}
		{{ .Scratch.Set "logo_h" 40 }}
		{{- partial "_logo.html" . -}}


		
		<div class="collapse navbar-collapse order-1" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				{{ range .Site.Menus.header }}
				{{ if .HasChildren }}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ .URL | relLangURL  }}" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						{{ .Name }}
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{{ range .Children }}
						<li><a class="dropdown-item" href="{{ .URL | relLangURL  }}">{{ .Name }}</a></li>
						{{ end }}
					</ul>
				</li>
				{{ else }}
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ .URL | relLangURL  }}">{{ .Name }}</a>
				</li>
				{{ end }}
				{{ end }}
			</ul>
		</div>
		<div class="navbar__btn-group order-12 order-lg-1">

			{{- partial "_lang.html" . -}}

			{{- partial "_btn-call.html" . -}}

		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<svg class="navbar-toggler-open icon" width="40" height="40">
				<use xlink:href="#menu"></use>
			</svg>
			<svg class="navbar-toggler-close icon" width="40" height="40">
				<use xlink:href="#close"></use>
			</svg>
		</button>
	</div>
</nav>