{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage }}
<style>
</style>
{{ end }}


{{ "<!-- Hero Section -->" | safeHTML }}
{{ "<!-- End of Hero Section -->" | safeHTML }}

{{"<!-- banner-feature -->" | safeHTML}}
{{ if $data.homepage.section.enable }}
{{ with $data.homepage }}

{{ .title }}

{{ end }}
{{ end }}

<div class="hero__wrap" style="background-image: url({{ `images/hero2.jpg` | absURL }});">
    <!-- BEGIN section -->
    {{- partial "header.html" . -}}

    <!-- BEGIN section -->
    <section class="section pb-5 pt-lg-5">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <img src="images/consultation.jpg" alt="{{ .Title }}" class="img--bd mb-5 mb-lg-0">
                </div>
                <div class="col-lg-6">

                    <h1 class="h1">
                        Консалтинговые услуги от International Trade Group
                    </h1>
                    <p class="h1__subtitle">
                        Аналитики компании International Trade Group не только упростят Вам жизнь и сэкономят уйму времени, но еще и помогут преобразовать Вашу торговлю на бирже в основной источник дохода. Профессионалы компании ITG дадут готовое решение, благодаря которому Вы гарантировано сможете диверсифицировать денежные средства, благодаря инвестированию в доходные финансовые инструменты сэкономите время и приумножите свой капитал.
                    </p>
                    <a href="#" class="btn btn--main">Записаться</a>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- END section -->

<!-- BEGIN section -->
<section class="section">
    <div class="container py-lg-5 my-4">
        <h2 class="h2 text-center mb-4">Аналитики International Trade Group предлагают</h2>

        <div class="row my-lg-5">

            <div class="col-lg-4 col-md-6">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="item item-1">
                            <div class="item__img">
                                <svg class="icon" width="80" height="80">
                                    <use xlink:href="#i1"></use>
                                </svg>
                            </div>
                            <b class="item__title">
                                Мани-, риск-менеджмент.
                            </b>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="item item-2">
                            <div class="item__img">
                                <svg class="icon" width="80" height="80">
                                    <use xlink:href="#i7"></use>
                                </svg>
                            </div>
                            <b class="item__title">
                                Составление инвестиционного портфеля и управление им.
                            </b>
                            <ol class="list--alpha">
                                <li>
                                    Консультации по диверсификации рисков.
                                </li>
                                <li>
                                    Подбор кошелька для хранения активов.
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="item item-3">
                            <div class="item__img">
                                <svg class="icon" width="80" height="80">
                                    <use xlink:href="#i5"></use>
                                </svg>
                            </div>
                            <b class="item__title">
                                Консультирование по дополнительным инструментам торговли.
                            </b>
                            <div class="item__text">
                                Использование Tradingview, Tensorcharts, CoinMarketCap и др. Помощь в удаленном
                                подключении к
                                биржевому аккаунту через ключи API терминалов и дополнительных сервисов.
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-4 col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="item item-4">
                            <div class="item__img">
                                <svg class="icon" width="80" height="80">
                                    <use xlink:href="#i9"></use>
                                </svg>
                            </div>
                            <b class="item__title">
                                Консультирование по базовому пользованию биржами.
                            </b>
                            <ol class="list--alpha">
                                <li>
                                    Помощь в создании аккаунтов на криптовалютных биржах.
                                </li>
                                <li>
                                    Помощь в создании криптокошельков.
                                </li>
                                <li>
                                    Консультации как купить, хранить, вывести, обменять криптовалюту.
                                </li>
                                <li>
                                    Как открывать ордера на бирже, какие есть типы ордеров и чем они отличаются.
                                </li>
                                <li>
                                    Консультации по вводу/выводу средств с биржи через Р2Р.
                                </li>
                            </ol>
                        </div>
    
                    </div>
                    <div class="col-lg-12">
                        <div class="item item-5">
                            <div class="item__img">
                                <svg class="icon" width="80" height="80">
                                    <use xlink:href="#i4"></use>
                                </svg>
                            </div>
                            <b class="item__title">
                                Разбор фондового рынка и его влияния на криптовалюту.
                            </b>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="item item-6">
                            <div class="item__img">
                                <svg class="icon" width="80" height="80">
                                    <use xlink:href="#i2"></use>
                                </svg>
                            </div>
                            <b class="item__title">
                                Обучение по кластерному анализу и гармоническим паттернам.
                            </b>
                        </div>
                    </div>
                </div>





            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">

                    <div class="col-lg-12 col-md-6">
                        <div class="item item-7">
                            <div class="item__img">
                                <svg class="icon" width="80" height="80">
                                    <use xlink:href="#i8"></use>
                                </svg>
                            </div>
                            <b class="item__title">
                                Корректировка психологического состояния трейдера, через работу с базовыми зависимостями
                                и
                                комплексами.
                            </b>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="item item-8">
                            <div class="item__img">
                                <svg class="icon" width="80" height="80">
                                    <use xlink:href="#i6"></use>
                                </svg>
                            </div>
                            <b class="item__title">
                                Консультирование по разбору монет.
                            </b>

                            <ul class="list--alpha">
                                <li>
                                    Новости.

                                </li>
                                <li>
                                    Технический анализ.
                                </li>
                                <li>
                                    Фундаментальный анализ.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="item item-9">
                            <div class="item__img">
                                <svg class="icon" width="80" height="80">
                                    <use xlink:href="#i3"></use>
                                </svg>
                            </div>
                            <b class="item__title">
                                Базовые стратегии торговли.
                            </b>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="item item--white item-10">
                            <div>
                                <div class="item__heading">
                                    Остались вопросы? <br>
                                    Задавайте!
                                </div>
                                <p>
                                    Мы ответим в течении часа
                                </p>
                                <div class="btn btn--grad">
                                    Связаться
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
    </div>
</section>
<!-- END section -->

<!-- BEGIN section -->
<section class="section section--bg">
    <div class="container py-5">
        <div class="col-md-8 mx-auto">
            <h2 class="h2 text-center">
                ITG предоставляет эксклюзивные условия своим клиентам:
            </h2>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <figure class="numbs">
                    <big class="numbs__num">
                        1
                    </big>
                    <div class="numbs__text">
                        Ежедневные <br> торговые идеи.
                    </div>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="numbs">
                    <big class="numbs__num">
                        2
                    </big>
                    <div class="numbs__text">
                        Бесплатный чек-<br>лист
                    </div>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="numbs">
                    <big class="numbs__num">
                        3
                    </big>
                    <div class="numbs__text">
                        Стоимость <br> консультаций от 20$
                    </div>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="numbs">
                    <big class="numbs__num">
                        4
                    </big>
                    <div class="numbs__text">
                        Длительность консультации до 60 минут — зависит от выбранной тематики.
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<!-- BEGIN section -->
<section class="section section__testimonials py-5 d-none">
    <div class="container">
        <h2 class="h2 text-center">
            Отзывы
        </h2>
        <div class="row mt-5">
            <div class="slider__wrap">
                <div class="slider">
                    <div>
                        <img src="images/testimonials4.png">
                    </div>
                    <div>
                        <img src="images/testimonials3.png">
                    </div>
                    <div>
                        <img src="images/testimonials2.png">
                    </div>
                    <div>
                        <img src="images/testimonials3.png">
                    </div>
                    <div>
                        <img src="images/testimonials4.png">
                    </div>
                    <div>
                        <img src="images/testimonials3.png">
                    </div>
                    <div>
                        <img src="images/testimonials2.png">
                    </div>
                    <div>
                        <img src="images/testimonials3.png">
                    </div>
                    <div>
                        <img src="images/testimonials4.png">
                    </div>

                </div>
                <div class="slider__nav">
                    <button class="slider__nav-item prev">
                        <svg class="icon" width="20" height="20">
                            <use xlink:href="#arr-r"></use>
                        </svg>
                    </button>
                    <button class="slider__nav-item next">
                        <svg class="icon" width="20" height="20">
                            <use xlink:href="#arr-l"></use>
                        </svg>
                    </button>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- END section -->

<!-- BEGIN section -->
<sevtion class="section section_rss">
    <div class="container py-lg-5 my-lg-5 mt-4">
        <div class="row">
            <div class="rss">
                <div class="rss__title">
                    Остались вопросы? <br>
Задавайте!
                </div>
                <a href="#" class="btn btn--white">Связаться</a>
            </div>
        </div>
    </div>
</sevtion>

<!-- END section -->

<!-- BEGIN section -->
<section class="section my-lg-5 py-3">
    <div class="container">
        <h2 class="h2 text-center">
            Будь успешным в инвестировании и трейдинге вместе с International Trade Group
        </h2>
    </div>
</section>
<!-- END section -->


{{ end }}