{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage }}
<style>
</style>
{{ end }}


{{ "<!-- Hero Section -->" | safeHTML }}
{{ "<!-- End of Hero Section -->" | safeHTML }}

{{"<!-- banner-feature -->" | safeHTML}}
{{ if $data.homepage.section.enable }}
{{ with $data.homepage }}

{{ .title }}

{{ end }}
{{ end }}

<div class="hero__wrap" style="background-image: url({{ `images/hero2.jpg` | absURL }});">
    <!-- BEGIN section -->
    {{- partial "header.html" . -}}

    <!-- BEGIN section -->
    <section class="section pb-5 pt-lg-5">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <img src="images/consultation.jpg" alt="{{ .Title }}" class="img--bd mb-5 mb-lg-0">
                </div>
                <div class="col-lg-6">

                    <h1 class="h1">
                        Консалтинговые услуги от International Trade Group
                    </h1>
                    <p class="h1__subtitle">
                        International Trade Group (ITG) — международная прогрессивная, динамично развивающаяся
                        консалтинговая диджитал-компания, которая решает глобальные проблемы в мире цифровых финансов,
                        инновационного подхода к инвестированию и интеграции Web 3.0 технологий в бизнес.
                    </p>
                    <a href="#" class="btn btn--main">Записаться</a>
                </div>
            </div>
        </div>

    </section>
</div>
<!-- END section -->

<!-- BEGIN section -->
<section class="section">
    <div class="container py-sm-5 mt-4">
        <h2 class="h2 text-center">Аналитики International Trade Group предлагают</h2>

        <div class="row my-lg-5">

            <ol class="list--orderred">
                <li>
                    Консультирование по базовому пользованию биржами.
                    <ul>
                        <li>
                            Помощь в создании аккаунтов на криптовалютных биржах.

                        </li>
                        <li>
                            Помощь в создании криптокошельков.

                        </li>
                        <li>
                            Консультации как купить, хранить, вывести, обменять криптовалюту.

                        </li>
                        <li>
                            Как открывать ордера на бирже, какие есть типы ордеров и чем они отличаются.

                        </li>
                        <li>
                            Консультации по вводу/выводу средств с биржи через Р2Р.
                        </li>
                    </ul>
                </li>
                <li>
                    Базовые стратегии торговли.
                </li>
                <li>
                    Консультирование по дополнительным инструментам торговли.

                    <ul>
                        <li>
                            Использование Tradingview, Tensorcharts, CoinMarketCap и др. Помощь в удаленном
                            подключении к биржевому аккаунту через ключи API терминалов и дополнительных сервисов.
                        </li>
                    </ul>

                </li>

                <li>
                    Консультирование по разбору монет.
                    <ul>
                        <li>
                            Новости.
                        </li>
                        <li>
                            Технический анализ.
                        </li>
                        <li>
                            Фундаментальный анализ.
                        </li>
                    </ul>
                </li>
                <li>
                    Мани-, риск-менеджмент.
                </li>
                <li>
                    Составление инвестиционного портфеля и управление им.

                    <ul>
                        <li>
                            Консультации по диверсификации рисков.
                        </li>
                        <li>
                            Подбор кошелька для хранения активов.
                        </li>
                    </ul>

                </li>
                <li>
                    Обучение по кластерному анализу и гармоническим паттернам.
                </li>
                <li>
                    Корректировка психологического состояния трейдера, через работу с базовыми зависимостями и
                    комплексами.
                </li>
                <li>
                    Разбор фондового рынка и его влияния на криптовалюту.
                </li>
            </ol>

        </div>
    </div>
</section>
<!-- END section -->

<!-- BEGIN section -->
<section class="section section--bg">
    <div class="container py-5">
        <div class="col-md-8 mx-auto">
            <h2 class="h2 text-center">
                ITG предоставляет эксклюзивные условия своим клиентам:
            </h2>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <figure class="numbs">
                    <big class="numbs__num">
                        1
                    </big>
                    <div class="numbs__text">
                        Ежедневные <br> торговые идеи.
                    </div>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="numbs">
                    <big class="numbs__num">
                        2
                    </big>
                    <div class="numbs__text">
                        Бесплатный чек-<br>лист
                    </div>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="numbs">
                    <big class="numbs__num">
                        3
                    </big>
                    <div class="numbs__text">
                        Стоимость <br> консультаций от 20$
                    </div>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="numbs">
                    <big class="numbs__num">
                        4
                    </big>
                    <div class="numbs__text">
                        Длительность консультации до 60 минут — зависит от выбранной тематики.
                    </div>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<!-- BEGIN section -->
<section class="section section__testimonials py-5 d-none">
    <div class="container">
        <h2 class="h2 text-center">
            Отзывы
        </h2>
        <div class="row mt-5">
            <div class="slider__wrap">
            <div class="slider">
                <div>
                    <img src="images/testimonials4.png">
                </div>
                <div>
                    <img src="images/testimonials3.png">
                </div>
                <div>
                    <img src="images/testimonials2.png">
                </div>
                <div>
                    <img src="images/testimonials3.png">
                </div>
                <div>
                    <img src="images/testimonials4.png">
                </div>
                <div>
                    <img src="images/testimonials3.png">
                </div>
                <div>
                    <img src="images/testimonials2.png">
                </div>
                <div>
                    <img src="images/testimonials3.png">
                </div>
                <div>
                    <img src="images/testimonials4.png">
                </div>
                
            </div>
            <div class="slider__nav">
                <button class="slider__nav-item prev">
                    <svg class="icon" width="20" height="20">
                        <use xlink:href="#arr-r"></use>
                    </svg>
                </button>
                <button class="slider__nav-item next">
                    <svg class="icon" width="20" height="20">
                        <use xlink:href="#arr-l"></use>
                    </svg>
                </button>
            </div>
            </div>


        </div>
    </div>
</section>
<!-- END section -->

<!-- BEGIN section -->
<section class="section my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h3 class="mb-4">
                    Остались вопросы? <br>Задавайте!
                </h3>
                <h5>
                    Свяжитесь с нашим менеджером и мы сделаем чет такое что вы у нас все купите
                </h5>
            </div>
            <div class="col-md-6 text-center my-4">
                <div class="btn btn--grad">
                    Связаться
                </div>
            </div>
        </div>
        <h2 class="h2 text-center mt-5 py-5">
            Будь успешным в инвестировании и трейдинге вместе с International Trade Group
        </h2>
    </div>
</section>
<!-- END section -->


{{ end }}