{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pb-0">
  <div class="container pt-5">
    <div class="row justify-content-center align-items-stretch">
      {{ range (.Site.GetPage "section" "products").Pages }}
      <div class="col-lg-6 my-3">
        <a class="card hover-bg-secondary shadow py-4" href="{{ .Permalink }}">
          <div class="card-body text-center">
            <div class="card-header">
              <h4 class="">{{ .Params.title  }}</h4>
              <p>{{ .Params.job }}</p>
            </div>
            <p>{{ .Content | truncate 150 }}</p>
          </div>
        </a>
      </div>
      
      {{ end }}
    </div>
  </div>
</section>


<div class="mt-5 pt-5">
  {{ if .Site.Data.project.cta.enable }}
  {{ partial "cta.html" . }}
  {{ end }}
</div>

{{ if .Site.Data.project.clientsLogo.enable }}
{{ partial "clients-logo.html" . }}
{{ end }}

{{ end }}