{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="hero__wrap" style="background-image: url({{ `../images/hero.jpg` | relURL }});">
	<!-- BEGIN section -->
	{{- partial "header.html" . -}}
	
	
	<!-- END section -->
	</div>

<article class="page__main"> 
	<section class="container py-5">
			
			<div class="page__single">
				{{  .Content }}
			</div>
			<div class="row my-5">
				{{ range ($.Site.GetPage "section" "products").Pages }}
				{{- partial "_product-card.html" . -}}
				{{ end }}
			</div>
            

	</section>
</article>


{{ end }}